<div  *ngIf="!autenticado">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navegacion('calendario')">
      <mat-icon>calendar_today</mat-icon>
      <span>Calendario</span>
    </button>
    <button mat-menu-item (click)="navegacion('pedidos')">
      <mat-icon>note_add</mat-icon>
      <span>Pedidos</span>
    </button>
    <button mat-menu-item (click)="navegacion('nuevo-producto')">
      <mat-icon>offline_pin</mat-icon>
      <span>Nuevo Producto</span>
    </button>    
    <button mat-menu-item (click)="salir()">
      <mat-icon>transfer_within_a_station</mat-icon>
      <span>Salir</span>
    </button>
  </mat-menu>
</div>
