<div class="form-group">
    <label for="exampleInputEmail1">Direccion de correo</label>
    <input type="email" class="form-control"  [(ngModel)]="usr" aria-describedby="emailHelp"
        placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">No comparta este usuario.</small>
</div>
<div class="form-group">
    <label for="exampleInputPassword1">Clave de acceso</label>
    <input type="password" class="form-control"  [(ngModel)]="pwd" placeholder="Password">

</div>
<br />
<button class="btn btn-primary"  (click)="validar()">Submit</button>&nbsp;
<button class="btn btn-danger" [hidden]="true" (click)="passwordReset()">Reiniciar Clave</button>

<div *ngIf="!errorLogin" class="alert alert-danger" role="alert">
    {{errorMsg}}
</div>