<div class="container" *ngIf="!autenticado">
  <div class="centrado">
    <h2>Creacion de Pedido</h2>
  </div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-row ">
      <div class="col margenes">
        <input 
          type="text" 
          class="form-control" 
          id="Nombre" 
          placeholder="Nombre"
          name="Nombre" 
          required
          ngModel
        >
      </div>

      <div class="col margenes">
        <input 
          type="text" 
          class="form-control" 
          id="Telefono" 
          placeholder="Telefono" 
          name="Telefono"
          required
          ngModel
        >
      </div>

      <div class="col margenes">
        <input 
          type="text" 
          class="form-control" 
          id="Ubicacion" 
          placeholder="Ubicacion" 
          name="Ubicacion"
          required
          ngModel
        >
      </div>

      <div class="col margenes">
        <textarea 
          id="Descripcion" 
          class="md-textarea form-control" 
          rows="10" 
          placeholder="Descripcion del producto"
          name="Descripcion"
          ngModel
        ></textarea>
      </div>

      <div class="row">
        <div class="col-4 margenes">
          <label>Fecha de entrega</label>
          <input 
            type="date" 
            class="date form-control" 
            id="Fecha" 
            name="Fecha"
            ngModel
          >
        </div>
  
        <div class="col-4 margenes">
          <label>Hora de entrega</label>
          <input 
            type="time" 
            class="time form-control" 
            id="Hora" 
            name="Hora"
            min="09:00" 
            max="18:00" 
            required
            ngModel
          >
         </div>  
      </div>

    </div>
    <div class="row">
      <div class="col-4 centrado">
        <button class="btn btn-primary" type="submit">Salvar</button>
      </div>  
      <div class="col-4 centrado">
        <button class="btn btn-warning" >Limpiar</button>
      </div>  
      <div class="col-4 centrado">
        <button class="btn btn-danger" (click)="onLogout()">Salir</button>
      </div>  
    </div>

  </form>
</div>