<div class="container" *ngIf="!autenticado">
  <app-menu></app-menu>
  <div class="centrado">
    
    <h2>Creacion de Pedido</h2>
  </div>
  <div class="form-row ">
    <div class="col margenes">
      <input 
        type="text" 
        class="form-control" 
        id="Titulo" 
        placeholder="Titulo Pedido"
        name="Titulo" 
        required
       [(ngModel)]="detallePedido.title"
       autofocus
       #myInputFocus
      >
    </div>
    
    <div class="form-row ">
      <div class="col margenes">
        <input 
          type="text" 
          class="form-control" 
          id="Nombre" 
          placeholder="Nombre"
          name="Nombre" 
          required
         [(ngModel)]="detallePedido.nombre"
        >
      </div>

      <div class="col margenes">
        <input 
          type="text" 
          class="form-control" 
          id="Telefono" 
          placeholder="Telefono" 
          name="Telefono"
          required
          [(ngModel)]="detallePedido.telefono"
        >
      </div>

      <div class="col margenes">
        <input 
          type="text" 
          class="form-control" 
          id="Ubicacion" 
          placeholder="Ubicacion" 
          name="Ubicacion"
          required
          [(ngModel)]="detallePedido.ubicacion"
        >
      </div>

      <div class="col margenes">
        <ag-grid-angular
          id="agGrid"
          #topGrid
          class="ag-theme-alpine"
          style="width: 100%; height: 450px;"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [animateRows]="true"
          (firstDataRendered)="onFirstDataRendered($event)"
          [groupDisplayType]="groupDisplayType"
          (gridReady)="onGridReady($event)"
          [defaultColDef]="defaultColDef"
          (cellValueChanged)="onCellValueChanged($event)"      
        ></ag-grid-angular>    

        <div class="row">
          <br/>
          <div class="col centrado">
            <button class="btn btn-primary" (click)="Actualizar()">Actualizar Catalogo</button>
          </div>

        </div>

      </div>

      <div class="col margenes">
        <textarea 
          id="Notas" 
          class="textarea form-control" 
          rows="3" 
          placeholder="Notas del Pedido"
          name="Notas"
          [(ngModel)]="detallePedido.nota"
        ></textarea>
      </div>

      <div class="row">
        <div class="col-4 margenes">
          <label>Fecha de entrega</label>
          <input 
            type="date" 
            class="date form-control" 
            id="Fecha" 
            name="Fecha"
            [(ngModel)]="detallePedido.date"
          >
        </div>
  
        <div class="col-4 margenes">
          <label>Hora de entrega</label>
          <input 
            type="time" 
            class="time form-control" 
            id="Hora" 
            name="Hora"
            required
            [(ngModel)]="detallePedido.hora"
          >
         </div> 
         
         <div class="col-6 margenes">
          <label>Dias previos de recordatorio</label>
          <input 
            type="number" 
            class="form-control" 
            id="Recordatorio" 
            placeholder="Recordatorio" 
            name="Recordatorio"
            required
            [(ngModel)]="detallePedido.recordatorio"
            >
         </div>  
      </div>
    </div>
    <div class="row">
      <div class="col-4 centrado">
        <button class="btn btn-primary" (click)="onSubmit()">Salvar</button>
      </div>  
      <div class="col-4 centrado">
        <button class="btn btn-warning" (click)="reset()">Limpiar</button>
      </div>  
      <div class="col-4 centrado">
        <button class="btn btn-danger" (click)="onLogout()">Salir</button>
      </div>  
    </div>

</div>
<br/>