<div class="container centrado ">
    <div class="col">
        <div class="row">
            <button class="btn btn-primary" (click)="cerrarPedido()">Cerrar</button>
        </div>
    </div>
    <br />
    <div class="col">
        <div class="row">
            <button class="btn btn-warning" (click)="imprimir()">Imprimir</button>
        </div>
        <div class="row" *ngIf="fileReady">
            <a [href]="fileUrl" download={{pedido.extendedProps.telefono}}.txt>Descargar Pedido</a>
        </div>
    </div>
    <br />
    <div class=" scroll_div">
        <h1>{{pedido.title}}</h1>
        <p> <strong>Ubicacion:</strong> {{pedido.extendedProps.ubicacion }}</p>
        <p> <strong>Telefono:</strong> {{pedido.extendedProps.telefono }} </p>

        <div class="col ">
            <div class="row" *ngFor="let item of lista">
                <!--<p>{{pedido.extendedProps.detalle}}</p>-->
                <p>{{item}}</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p><strong>Nota:</strong> {{pedido.extendedProps.nota}}</p>
                <p><strong>Hora de entrega:</strong> {{pedido.extendedProps.hora}}</p>
            </div>
        </div>
        <br/>
    </div>
</div>