<div class="container">
    <app-menu></app-menu>
    <h1>Administracion de Usuarios</h1>
    
    <ag-grid-angular
    id="agGrid"
    #topGrid
    class="ag-theme-alpine"
    style="width: 100%; height: 450px;"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [animateRows]="true"
    (firstDataRendered)="onFirstDataRendered($event)"
    [groupDisplayType]="groupDisplayType"
    (gridReady)="onGridReady($event)"
    [defaultColDef]="defaultColDef"
    (cellValueChanged)="onCellValueChanged($event)"      
    ></ag-grid-angular>    
    
    <div class="row">
        <div class="col-4 centrado">
          <button class="btn btn-primary" (click)="actualizar()">Actualizar</button>
        </div>  
        <div class="col-4 centrado">
          <button class="btn btn-warning" (click)="reiniciar()">Reiniciar</button>
        </div>  
        
        <div class="col-4 centrado">
          <button class="btn btn-danger" (click)="openDialog()">Crear Usuario</button>
        </div>  
        
      </div>
</div>

